body {
    color: #676565;
    background: #FEEED6;
    font-family: Arial, sans-serif;
    font-size: 0.95em;
    margin: 0.5em;
}

.title {
    font-size: 1.75em;
    line-height: 1.15em;
    margin-bottom: 0.5em;
}

.item {
    font-size: 1.1em;
    margin-bottom: 0.75em;
}

.blue_text {
    color: #378DB2;
    font-weight: bold;
    margin-bottom: 0.55em;
}

.without-discount {
    text-decoration-line: line-through;
}

.item.blue_text ~ p {
    text-indent: 1em;
    line-height: 1.4em;
    max-width: 48em;
    text-align: justify;
    margin-bottom: 0.75em;
}